@page
@model CamposRepresentacoes.Pages.Pedidos.CadastrarModel

<!DOCTYPE html>
<html>
<head>
    <title>Produto não encontrado</title>
</head>
<body>
    <div class="alert alert-warning">
        Produto não encontrado.
    </div>
</body>
</html>
