@page
@model CamposRepresentacoes.Pages.Pedidos.EnvioEmailModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Envio de Email</title>
</head>
<body>
    <div>
        @if (TempData["EmailEnviado"] != null)
        {
            <div id="mensagemSucesso" data-mensagem="@TempData["EmailEnviado"]"></div>
        }
    </div>
    @section scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var mensagemDiv = document.getElementById('mensagemSucesso');
                if (mensagemDiv) {
                    var mensagemSucesso = mensagemDiv.getAttribute('data-mensagem');
                    if (mensagemSucesso) {
                        alert(mensagemSucesso);
                    }
                }
            });
        </script>
    }
</body>
</html>
