@page
@model CamposRepresentacoes.Pages.Clientes.IndexModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body>
    <div class="row no-print">
        <div class="col-md-12">
            <form method="get" id="formBusca">
                @Html.AntiForgeryToken()
                <div id="filter" class="card card-filter elevation-3">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-filter mr-2"></i>Filtro Pesquisa</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="colapse" title="colapse">
                                <i class="fas fa-minus text-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="loading" style="display:none"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="razaoSocial">Razão Social:</label>
                                    <input type="text" class="form-control" name="Cliente.RazaoSocial" placeholder="Digite a Razão Social" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cnpj">CNPJ:</label>
                                    <input type="text" class="form-control" name="Cliente.CNPJ" placeholder="Digite o CNPJ" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" name="Cliente.Cidade" class="form-control" placeholder="Digite a Cidade" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" name="Cliente.Status">
                                        <option value="">Ambos</option>
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <a asp-page="/Clientes/Index" class="btn btn-default elevation-1"><i class="fas fa-eraser"></i>Limpar</a>
                            <button type="submit" class="btn btn-info elevation-1"><i class="fas fa-search"></i>Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section>
        <div class="container-fluid">
            <div class="col-md-12">
                <div id="tabelaClientesContainer" style="display:none">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="post" asp-page-handler="DesativarClientes" onsubmit="return prepararIdsClientes()">
                                <div class="card-body">
                                    <table id="tabelaClientes" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Razão Social</th>
                                                <th>CNPJ</th>                                                
                                                <th>Cidade</th>
                                                <th>Numero</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                <th>Desativar</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="float-left">
                                        <input type="hidden" name="idsClientesSelecionados" id="idsClientesSelecionados" />
                                        <button type="submit" id="salvarAlteracoes" class="btn btn-success">Salvar Alterações</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables  & Plugins -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jszip/jszip.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#formBusca').submit(function (event) {
                    event.preventDefault();
                    buscarClientes();
                })
            });

            function buscarClientes() {
                var formData = $('#formBusca').serialize();
                //console.log(formData);

                if ($.fn.DataTable.isDataTable('#tabelaClientes')) {
                    $('#tabelaClientes').DataTable().destroy();
                }

                $.ajax({
                    type: 'GET',
                    url: '/Clientes/Index',
                    data: formData,
                    dataType: 'json',

                    success: function (result) {
                        //console.log(result);
                        // Limpa a tabela antes de adicionar os novos resultados
                        $('#tabelaClientes tbody').empty();

                        // Verifica se a resposta contém dados válidos
                        if (result && result.length > 0) {
                            // Atualiza a tabela com os novos resultados
                            result.forEach(function (Clientes) {
                                var checkboxMarcado = Clientes.status !== undefined ? !Clientes.status : false;

                                var row = '<tr>' +
                                    '<td>' + (Clientes.razaoSocial !== undefined ? Clientes.razaoSocial : '') + '</td>' +
                                    '<td>' + (Clientes.cnpj !== undefined ? Clientes.cnpj : '') + '</td>' +                                    
                                    '<td>' + (Clientes.cidade !== undefined ? Clientes.cidade : '') + '</td>' +
                                    '<td>' + (Clientes.numero !== undefined ? Clientes.numero : '') + '</td>' +
                                    '<td>' + (Clientes.telefone !== undefined ? Clientes.telefone : '') + '</td>' +
                                    '<td>' + (Clientes.email !== undefined ? Clientes.email : '') + '</td>' +
                                    '<td><input type="checkbox" name="ClientesParaDesativar" value="' + Clientes.id + '"' + (checkboxMarcado ? 'checked' : '') + '></td>' +
                                    '<td><a href="/Clientes/EditarCliente?id=' + Clientes.id + '" class="btn btn-primary">Editar</a></td>' +
                                    '</tr>';

                                $('#tabelaClientes tbody').append(row);
                            });
                        } else {
                            // Exibe uma mensagem se não houver dados
                            $('#tabelaClientes tbody').html('<tr><td colspan="6">Nenhum Cliente encontrado!</td></tr>');
                        }
                        $('#tabelaClientesContainer').show();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Verifica se é um erro real (status 500 ou outros)
                        if (xhr.status >= 400) {
                            alert('Erro ao buscar clientes. Status: ' + xhr.status + ' - ' + errorThrown);
                        }
                    }
                });

                // Inicializando o DataTable
                $('#tabelaClienteses').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });

                return false; // Impede o envio padrão do formulário
            }

            var mensagemSucesso = '@MensagemAlerta.GetMensagem("SucessoDesativarClientes")';
            if (mensagemSucesso) {
                alert(mensagemSucesso);
            }

            function prepararIdsClientes() {
                var idsClientes = [];

                // Iterar sobre os checkboxes selecionados
                $('input[name="ClientesParaDesativar"]:checked').each(function () {
                    idsClientes.push($(this).val());
                });
                
                if (idsClientes.length === 0) {
                    alert('Selecione pelo menos um Cliente para desativar!');
                    return false;
                }

                // Converter o array de IDs em uma string JSON e atribuir ao campo oculto
                $('#idsClientesSelecionados').val(JSON.stringify(idsClientes));

                return true;
            }

            $(document).ready(function () {
                // Adicione um evento de clique ao botão de salvar
                $('#salvarAlteracoes').click(function () {
                    return prepararIdsClientes();
                });
            });

            function GetMensagem(mensagem) {
                if (mensagem) {
                    if (event.type === "click" && event.target.id === "salvarAlteracoes") {
                        return mensagem;
                    }
                }

                return null;
            }

        </script>
    }

</body>
</html>