@page
@model  ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Esqueceu a Senha";
}

<h1>Solicitação de Redefinição de Senha Recebida</h1>
<p>Se um endereço de e-mail válido foi fornecido, você receberá um e-mail com instruções para redefinir sua senha.</p>