@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a Senha";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card shadow p-4">
                <div class="text-center mb-2">
                    <h1>Esqueceu a Senha</h1>
                </div>
                <form method="post">
                    <div class="form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>