@page
@model CamposRepresentacoes.Pages.Produtos.CadastrarProdutosModel
@{
}

<html>
<head>

</head>
<body>
    <h2>Cadastrar Produto</h2>
<div class="row">
    <div class="col-sm-6">
        <form method="post">
            <div class="form-group">
                <label for="nome">Código do Produto:</label>
                <input type="text" id="codigo" name="Produto.Codigo" class="form-control" asp-for="Produto.Codigo" required>
            </div>
            <div class="form-group">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="Produto.Nome" class="form-control" asp-for="Produto.Nome" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="Produto.Descricao" class="form-control" asp-for="Produto.Descricao" required></textarea>
            </div>
            <div class="form-group">
                <label for="preco">Preço: (R$)</label>
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="Produto.Preco2" required>
                </div>                
            </div>
            <div class="form-group">
                <label for="fornecedorSelect">Selecione o Fornecedor:</label>
                <select class="form-control" id="fornecedorSelect" asp-for="Produto.IdFornecedor" required>
                    <option value="">Selecione...</option>
                    @if (Model.Fornecedores != null)
                    {
                        @foreach (var fornecedor in Model.Fornecedores)
                        {
                            <option value="@fornecedor.Id">@fornecedor.RazaoSocial</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" href="/Produtos/Index">Voltar</a>
                <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
            </div>
        </form>
    </div>
</div>

    @section scripts{
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/lib/jquery.maskmoney.min.js"></script>

        <script>
            $(function () {
                $('#Produto_Preco2').maskMoney({
                    thousands: '.',
                    decimal: ',',
                    allowZero: true,
                    precision: 2,
                    prefix: 'R$ ',
                    allowNegative: false,
                    affixesStay: true
                });
            });

            var mensagemSucesso = '@MensagemAlerta.GetMensagem("CadastroRealizado")';
            if (mensagemSucesso) {
                alert(mensagemSucesso);
            }
        </script>
    }

</body>
</html>