@page
@model CamposRepresentacoes.Pages.Fornecedores.EditarFornecedorModel
@{
}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow p-4">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h2><strong>Editar Cliente</strong></h2>
                        </div>
                        <form method="post" class="needs-validation" novalidate>
                            <div class="form-row">
                                <input type="hidden" asp-for="Fornecedor.Id" />
                                <div class="col-md-12 mb-3">
                                    <label for="razaoSocial">Razão Social:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.RazaoSocial" class="form-control" asp-for="Fornecedor.RazaoSocial" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cnpj">CNPJ:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask='"mask": "99.999.999/9999-99"' data-mask name="Fornecedor.CNPJ"
                                               asp-for="Fornecedor.CNPJ" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 mb-3">
                                    <label for="email">Email:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                        </div>
                                        <input type="email" name="Fornecedor.Email" class="form-control" asp-for="Fornecedor.Email" placeholder="Email" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="telefone">Telefone com DDD:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask name="Fornecedor.Telefone"
                                               asp-for="Fornecedor.Telefone" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="celular">Celular com DDD:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask name="Fornecedor.Celular"
                                               asp-for="Fornecedor.Celular" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="cep">CEP:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" data-inputmask='"mask": "99999-999"' data-mask name="Fornecedor.CEP"
                                               asp-for="Fornecedor.CEP" required onchange="buscarEnderecoPorCEP(this.value)" />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <label for="rua">Rua:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-road"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.Rua" class="form-control" asp-for="Fornecedor.Rua" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="bairro">Bairro:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.Bairro" class="form-control" asp-for="Fornecedor.Bairro" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <label for="Cidade">Cidade:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-city"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.Cidade" class="form-control" asp-for="Fornecedor.Cidade" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="numero">Número:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.Numero" class="form-control" asp-for="Fornecedor.Numero" required />
                                        <div class="invalid-feedback">
                                            Este campo é obrigatório.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 mb-3">
                                    <label for="Complemento">Complemento:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>
                                        </div>
                                        <input type="text" name="Fornecedor.Complemento" class="form-control" asp-for="Fornecedor.Complemento" />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label asp-for="Fornecedor.Status">Status:</label>
                                    <select class="form-control" name="Fornecedor.Status">
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center d-flex justify-content-center">
                                    <a class="btn btn-danger mr-2" href="/Clientes/Index">Cancelar</a>
                                    <button type="submit" class="btn btn-primary ml-2">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/inputmask/jquery.inputmask.min.js"></script>
        <script>
            function buscarEnderecoPorCEP(cep) {
                // Remova espaços e traços do CEP
                cep = cep.replace(/\D/g, '');

                // Verifica se o CEP tem o formato válido
                if (cep.length === 8) {
                    // Monta a URL da API do ViaCEP
                    var url = 'https://viacep.com.br/ws/' + cep + '/json/';

                    // Faz a requisição AJAX
                    $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            // Preenche os campos com os dados obtidos
                            if (data) {
                                $('input[name="Fornecedor.Rua"]').val(data.logradouro);
                                $('input[name="Fornecedor.Bairro"]').val(data.bairro);
                                $('input[name="Fornecedor.Cidade"]').val(data.localidade);
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            // Trate o erro conforme necessário
                        }
                    });
                }
            }

            $('[data-mask]').inputmask()

            var mensagemSucesso = '@MensagemAlerta.GetMensagem("MsgAlteracao")';
            if (mensagemSucesso) {
                alert(mensagemSucesso);

                window.location.href = '/Fornecedores/Index';
            }
        </script>
    }

</body>
</html>