@page
@model CamposRepresentacoes.Pages.Fornecedores.IndexModel
@{
}
<html>
<body>
    <div class="row no-print">
        <div class="col-md-12">
            <form method="get" id="formBusca">
                @Html.AntiForgeryToken()
                <div id="filter" class="card card-filter elevation-3">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-filter mr-2"></i>Filtro Pesquisa Fornecedores</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="colapse" title="colapse">
                                <i class="fas fa-minus text-white"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="loading" style="display:none"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="razaoSocial">Razão Social:</label>
                                    <input type="text" class="form-control" name="Fornecedor.RazaoSocial" placeholder="Digite a Razão Social" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cnpj">CNPJ:</label>
                                    <input type="text" class="form-control" name="Fornecedor.CNPJ" placeholder="Digite o CNPJ" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" name="Fornecedor.Cidade" class="form-control" placeholder="Digite a Cidade" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" name="Fornecedor.Status">
                                        <option value="">Ambos</option>
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <a asp-page="/Fornecedores/Index" class="btn btn-default elevation-1"><i class="fas fa-eraser"></i>Limpar</a>
                            <button type="submit" class="btn btn-info elevation-1"><i class="fas fa-search"></i>Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section>
        <div class="container-fluid">
            <div class="col-md-12">
                <div id="tabelaFornecedoresContainer" style="display:none">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="post" asp-page-handler="DesativarFornecedores" onsubmit="return prepararIdsFornecedores()">
                                <div class="card-body">
                                    <table id="tabelaFornecedores" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Razão Social</th>
                                                <th>CNPJ</th>                                                
                                                <th>Cidade</th>
                                                <th>Numero</th>
                                                <th>Telefone</th>
                                                <th>Email</th>
                                                <th>Desativar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="float-left">
                                        <input type="hidden" name="idsFornecedoresSelecionados" id="idsFornecedoresSelecionados" />
                                        <button type="submit" id="salvarAlteracoes" class="btn btn-success">Salvar Alterações</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    @section scripts {      

        <script>
            $(document).ready(function () {
                $('#formBusca').submit(function (event) {
                    event.preventDefault();
                    buscarFornecedores();
                })
            });

            function buscarFornecedores() {
                var formData = $('#formBusca').serialize();
                //console.log(formData);

                if ($.fn.DataTable.isDataTable('#tabelaFornecedores')) {
                    $('#tabelaFornecedores').DataTable().destroy();
                }

                $.ajax({
                    type: 'GET',
                    url: '/Fornecedores/Index',
                    data: formData,
                    dataType: 'json',

                    success: function (result) {
                        //console.log(result);
                        // Limpa a tabela antes de adicionar os novos resultados
                        $('#tabelaFornecedores tbody').empty();

                        // Verifica se a resposta contém dados válidos
                        if (result && result.length > 0) {
                            // Atualiza a tabela com os novos resultados
                            result.forEach(function (Fornecedores) {
                                var checkboxMarcado = Fornecedores.status !== undefined ? !Fornecedores.status : false;

                                var row = '<tr>' +
                                    '<td>' + (Fornecedores.razaoSocial !== undefined ? Fornecedores.razaoSocial : '') + '</td>' +
                                    '<td>' + (Fornecedores.cnpj !== undefined ? Fornecedores.cnpj : '') + '</td>' +
                                    '<td>' + (Fornecedores.cidade !== undefined ? Fornecedores.cidade : '') + '</td>' +
                                    '<td>' + (Fornecedores.numero !== undefined ? Fornecedores.numero : '') + '</td>' +
                                    '<td>' + (Fornecedores.telefone !== undefined ? Fornecedores.telefone : '') + '</td>' +
                                    '<td>' + (Fornecedores.email !== undefined ? Fornecedores.email : '') + '</td>' +
                                    '<td><input type="checkbox" name="FornecedoresParaDesativar" value="' + Fornecedores.id + '"' + (checkboxMarcado ? 'checked' : '') + '></td>' +
                                    '<td><a href="/Fornecedores/EditarFornecedor?id=' + Fornecedores.id + '" class="btn btn-primary">Editar</a></td>' +
                                    '</tr>';

                                $('#tabelaFornecedores tbody').append(row);
                            });
                        } else {
                            // Exibe uma mensagem se não houver dados
                            $('#tabelaFornecedores tbody').html('<tr><td colspan="6">Nenhum Fornecedores encontrado!</td></tr>');
                        }
                        $('#tabelaFornecedoresContainer').show();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Verifica se é um erro real (status 500 ou outros)
                        if (xhr.status >= 400) {
                            alert('Erro ao buscar produtos. Status: ' + xhr.status + ' - ' + errorThrown);
                        }
                    }
                });

                // Inicializando o DataTable
                $('#tabelaFornecedores').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });

                return false; // Impede o envio padrão do formulário
            }

            var mensagemSucesso = '@MensagemAlerta.GetMensagem("SucessoDesativarFornecedores")';
            if (mensagemSucesso) {
                alert(mensagemSucesso);
            }

            function prepararIdsFornecedores() {
                var idsFornecedores = [];

                // Iterar sobre os checkboxes selecionados
                $('input[name="FornecedoresParaDesativar"]:checked').each(function () {
                    idsFornecedores.push($(this).val());
                });

                if (idsFornecedores.length === 0) {
                    alert('Selecione pelo menos um Fornecedore para desativar!');
                    return false;
                }

                // Converter o array de IDs em uma string JSON e atribuir ao campo oculto
                $('#idsFornecedoresSelecionados').val(JSON.stringify(idsFornecedores));

                return true;
            }

            $(document).ready(function () {
                // Adicione um evento de clique ao botão de salvar
                $('#salvarAlteracoes').click(function () {
                    return prepararIdsFornecedores();
                });
            });

            function GetMensagem(mensagem) {
                if (mensagem) {
                    if (event.type === "click" && event.target.id === "salvarAlteracoes") {
                        return mensagem;
                    }
                }

                return null;
            }

        </script>
    }

</body>
</html>