@page
@model CamposRepresentacoes.Pages.Fornecedores.IndexModel
@{
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.2.0/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body>
    <div class="row no-print">
        <div class="col-md-12">            
            <form method="get" id = "formBusca">
                @Html.AntiForgeryToken()
                <div id="filter" class="card card-filter elevation-3">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-filter mr-2"></i>Filtro Pesquisa</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="colapse" title="colapse">
                                <i class="fas fa-minus text-white"></i>
                            </button>
                        </div>
                    </div> 
                    <div class="card-body">
                        <div id="loading" style="display:none"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="razaoSocial">Razão Social:</label>
                                    <input type="text" class="form-control" name="Fornecedor.RazaoSocial" placeholder="Digite a Razão Social" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cnpj">CNPJ:</label>
                                    <input type="text" class="form-control" name="Fornecedor.CNPJ" placeholder="Digite o CNPJ"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" name="Fornecedor.Cidade" class="form-control" placeholder="Digite a Cidade"/>
                                </div>                                
                            </div>                                                        
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select class="form-control" name="Fornecedor.Status">
                                        <option value="">Ambos</option>
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <a asp-page="/Fornecedores/Index" class="btn btn-default elevation-1"><i class="fas fa-eraser"></i>Limpar</a>
                            <button type="submit" class="btn btn-info elevation-1"><i class="fas fa-search"></i>Buscar</button>
                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </div>
            
    <section>
        <div class="container-fluid">
            <div class="col-md-12">
                <div id="tabelaFornecedoresContainer" style="display:none">
                    <div class="col-md-12">
                        <div class="card">
                            <form method="post" asp-page-handler="DesativarFornecedor" onsubmit="return prepararIdsFornecedores()">
                                <div class="card-body">
                                    <table id="tabelaFornecedores" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Razão Social</th>
                                                <th>CNPJ</th>
                                                <th>Rua</th>
                                                <th>Bairro</th>
                                                <th>Cidade</th>
                                                <th>Numero</th>
                                                <th>Complemento</th>
                                                <th>Cep</th>
                                                <th>Telefone</th>
                                                <th>Data Cadastro</th>
                                                <th>Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <div class="float-left">
                                        <input type="hidden" name="idsFornecedoresSelecionados" id="idsFornecedoresSelecionados" />
                                        <button type="submit" id="salvarAlteracoes" class="btn btn-success">Salvar Alterações</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    @section scripts {
        script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- DataTables  & Plugins -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/jszip/jszip.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/AdminLTE-3.2.0/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#formBusca').submit(function (event) {
                    event.preventDefault();
                    buscarProdutos();
                })
            });

            function buscarProdutos() {
                var formData = $('#formBusca').serialize();
                //console.log(formData);

                if ($.fn.DataTable.isDataTable('#tabelaFornecedores')) {
                    $('#tabelaFornecedores').DataTable().destroy();
                }

                $.ajax({
                    type: 'GET',
                    url: '/Fornecedores/Index',
                    data: formData,
                    dataType: 'json',

                    success: function (result) {
                        //console.log(result);
                        // Limpa a tabela antes de adicionar os novos resultados
                        $('#tabelaFornecedores tbody').empty();

                        // Verifica se a resposta contém dados válidos
                        if (result && result.length > 0) {
                            // Atualiza a tabela com os novos resultados
                            result.forEach(function (fornecedor) {
                                var checkboxMarcado = fornecedor.status !== undefined ? !fornecedor.status : false;

                                var row = '<tr>' +
                                    '<td>' + (fornecedor.razaoSocial !== undefined ? fornecedor.razaoSocial : '') + '</td>' +
                                    '<td>' + (fornecedor.cnpj !== undefined ? fornecedor.cnpj : '') + '</td>' +
                                    '<td>' + (fornecedor.rua !== undefined ? fornecedor.rua : '') + '</td>' +
                                    '<td>' + (fornecedor.bairro !== undefined ? fornecedor.bairro : '') + '</td>' +
                                    '<td>' + (fornecedor.cidade !== undefined ? fornecedor.cidade : '') + '</td>' +
                                    '<td>' + (fornecedor.numero !== undefined ? fornecedor.numero : '') + '</td>' +
                                    '<td>' + (fornecedor.complemento !== undefined ? fornecedor.complemento : '') + '</td>' +
                                    '<td>' + (fornecedor.cep !== undefined ? fornecedor.cep : '') + '</td>' +
                                    '<td>' + (fornecedor.telefone !== undefined ? fornecedor.telefone : '') + '</td>' +                                    
                                    '<td><input type="checkbox" name="produtosParaDesativar" value="' + produto.id + '"' + (checkboxMarcado ? 'checked' : '') + '></td>' +                                    
                                    '<td><a href="/Produtos/EditarProduto?id=' + produto.id + '" class="btn btn-primary">Editar</a></td>' +
                                    '</tr>';

                                $('#tabelaFornecedores tbody').append(row);
                            });
                        } else {
                            // Exibe uma mensagem se não houver dados
                            $('#tabelaFornecedores tbody').html('<tr><td colspan="6">Nenhum fornecedor encontrado!</td></tr>');
                        }
                        $('#tabelaFornecedoresContainer').show();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Verifica se é um erro real (status 500 ou outros)
                        if (xhr.status >= 400) {
                            alert('Erro ao buscar produtos. Status: ' + xhr.status + ' - ' + errorThrown);
                        }
                    }
                });

                // Inicializando o DataTable
                $('#tabelaFornecedores').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                });

                return false; // Impede o envio padrão do formulário
            }

            var mensagemSucesso = '@MensagemAlerta.GetMensagem("SucessoDesativarFornecedores")';
            if (mensagemSucesso) {
                alert(mensagemSucesso);
            }

            function prepararIdsProdutos() {
                var idsProdutos = [];

                // Iterar sobre os checkboxes selecionados
                $('input[name="fornecedoresParaDesativar"]:checked').each(function () {
                    idsProdutos.push($(this).val());
                });

                if (idsProdutos.length === 0) {
                    alert('Selecione pelo menos um fornecedor para desativar!');
                    return false;
                }

                // Converter o array de IDs em uma string JSON e atribuir ao campo oculto
                $('#idsFornecedoresSelecionados').val(JSON.stringify(idsProdutos));

                return true;
            }

            $(document).ready(function () {
                // Adicione um evento de clique ao botão de salvar
                $('#salvarAlteracoes').click(function () {
                    return prepararIdsProdutos();
                });
            });

            function GetMensagem(mensagem) {
                if (mensagem) {
                    if (event.type === "click" && event.target.id === "salvarAlteracoes") {
                        return mensagem;
                    }
                }

                return null;
            }

        </script>
    }
    
</body>
</html>